$h1Cor: rgb(43, 0, 255);
$bg: rgba(234, 232, 232, 0.8);
$fontePrincipal:'Lora', serif;
$fonteSecundaria:'Montagu Slab', serif;

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;

    body {
        background-image: url(./FotoItaguaiCheckpoint.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        header { 
            position: -webkit-sticky;
            position: sticky;
            top: 0px;

            #nav-bar {
                background: $bg;
                border-radius: 8px;
                padding: 20px 0;
                
                display: flex;
                align-items: center;
                justify-content: space-evenly; 
                
                >img {
                   width: 35px; 
                }
                        
                #titulo {
                    font-family: $fontePrincipal;
                    color: $h1Cor;
                    text-align: center;
                }

            }

        }

        main {
            display: flex;
            flex-direction: column ;
            justify-content: center;
            align-items: center;
            align-content: space-around;

            #intro {
                font-family: $fonteSecundaria;
                font-weight: 400;
                margin: 35px;
                padding: 15px;
                text-align: justify;
                background: $bg;

            }

            #video {
                border: 2.5px solid;
                border-radius: 8px;        
            }

            #curio-titulo {
                padding: 15px;
                border-radius: 8px;
                margin-top:15px;
                font-family: $fontePrincipal;
                font-weight: 400;
                background: $bg;
                color: $h1Cor;

            }

            #curio-container {
                margin: 25px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
                
                .curio-card {
                    width: 20%;
                    border-radius: 8px;
                    text-align: center;
                    border: solid 1px grey;
                    background: $bg;
                    box-shadow:  18px 18px 35px #474845,
                    -15px -15px 35px #c9ccc5;
                
                }
      
    
                .card-img-top {
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px ;
                }
                

                .card-body {
                    padding: 2px 16px;

                    .card-title {

                    }

                    .card-text {
                        
                    }
                }
                
            }

        }
        
        footer { 
            
            .rodape {
                
                background: black;

                >h4 {
                    font-family: $fontePrincipal;
                    padding: 0px 32px;
                                    
                }

                >h3 {
                    text-align: center;
                    font-family: $fontePrincipal;
                    color: white;

                }

                .icones {
                    display: flex;
                    justify-content: center;   
                    align-items: center;
                                      

                     >a {
                        width: 50px;
                        margin: 10px 15px;
                
                    }

                }

                >p {
                    font-family: $fonteSecundaria;
                    color: white;
                    text-align: center;
                    padding-bottom: 10px;

                }

            }     

        }
        
    }   

}